.flicking-viewport .panel0 {
  background: #f47071;
}
.flicking-viewport .panel1 {
  background: #f69462;
}
.flicking-viewport .panel2 {
  background: #ede484;
}
.flicking-viewport .panel3 {
  background: #90f290;
}
.flicking-viewport .panel4 {
  background: #78caff;
}
.flicking-viewport .infinite0 {
  background: #f47071;
}
.flicking-viewport .infinite1 {
  background: #f69462;
}
.flicking-viewport .infinite2 {
  background: #ede484;
}
.flicking-viewport .infinite3 {
  background: #90f290;
}
.flicking-viewport .infinite4 {
  background: #78caff;
}
.flicking-viewport {
  width: 664px;
  height: 200px;
  margin: 0px auto;
  background: #eee;
  background: rgba(55, 55, 55 0.1);
  border-radius: 5px;
  padding: 10px 0;
}
.panel {
  position: relative;
  width: 400px;
  height: 200px;
  background: #f55;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 10px;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  color: #fff;
  font-size: 3rem;
  padding: 30px 20px;
  box-sizing: border-box;
  text-align: center;
  line-height: 120px;
}
.panel:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}
.panel img {
  top: -100%;
  bottom: -100%;
  min-width: 100%;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.flicking-index {
  min-width: 60px;
  position: relative;
  text-align: center;
}
.flicking-index:before {
  border-bottom: 2px solid #fff;
  bottom: 0.5rem;
  content: "";
  left: 10%;
  position: absolute;
  width: 80%;
}
.flicking-index:after {
  bottom: -2.1999999999999993rem;
  content: "PANEL";
  font-size: 1rem;
  font-weight: 700;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
