#variable-size .flicking-viewport .panel0 {
  width: 15%;
}
#variable-size .flicking-viewport .panel1 {
  width: 20%;
}
#variable-size .flicking-viewport .panel2 {
  width: 40%;
}
#variable-size .flicking-viewport .panel3 {
  width: 30%;
}
#variable-size .flicking-viewport .panel4 {
  width: 25%;
}
.container {
  max-width: 848px;
  width: 100%;
  margin: 30px auto;
  /* padding-top: 40px; */
}

.container {
  overflow: hidden;
}
